@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
@import url(reset.css);
:root {
  --FF: "Be Vietnam Pro", sans-serif;
  --WGHT_BOLD:700;
  --WGHT_MED:500;
  font-size: 16px;
}

.diffSec, .introSec, header {
  inline-size: min(69.375rem, 95%);
  margin-inline: auto;
}
@media (width < 46.875rem) {
  .diffSec, .introSec, header {
    inline-size: min(22.4375rem, 95%);
  }
}

body {
  font-family: var(--FF);
  inline-size: 100dvw;
  min-block-size: 100dvh;
  background: #fff;
  overflow-inline: hidden;
  overflow-x: hidden;
}

header {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-block-size: 6.25rem;
}
header > .D_nav {
  display: flex;
  gap: 2rem;
}
header > .D_nav > a {
  color: #242D52;
  font-size: 0.8125rem;
  line-height: normal;
  font-weight: var(--WGHT_MED);
  text-decoration: none;
}
header > .D_nav > a:hover {
  opacity: 0.5;
}
header > .navBtn {
  inline-size: 1.5625rem;
  block-size: 1.125rem;
  cursor: pointer;
  display: none;
}
header > .M_nav {
  display: none;
  position: absolute;
  inset-inline: 50% auto;
  inset-block: 6.4375rem auto;
  transform: translateX(-50%);
  z-index: 98;
  inline-size: min(327px, 95%);
  padding-block: 2.5rem;
  transition: opacity 0.2s ease;
}
header > .M_nav[data-state=open] {
  opacity: 1;
  pointer-events: auto;
}
header > .M_nav[data-state=close] {
  opacity: 0;
  pointer-events: none;
}
header > .M_nav > a {
  color: #242D52;
  font-size: 1rem;
  line-height: normal;
  font-weight: var(--WGHT_BOLD);
  letter-spacing: -0.286px;
  text-decoration: none;
}
header > .M_nav > a:hover {
  opacity: 0.5;
}
@media (width < 46.875rem) {
  header > button, header > .D_nav {
    display: none;
  }
  header > .navBtn {
    display: block;
  }
  header > .M_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0px 0.625rem 1.25rem 0px rgba(80, 86, 98, 0.03);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.08%, rgba(0, 0, 0, 0.6) 99.95%);
  z-index: 97;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.startBtn, .randomSec > .randomBtn {
  inline-size: 8.5625rem;
  block-size: 2.75rem;
  border-radius: 1.375rem;
  background: #F3603C;
  color: #FCF6F5;
  box-shadow: 0px 0.9375rem 0.9375rem -0.625rem #FF9F8E;
  border: none;
  font-family: inherit;
  font-size: 0.8125rem;
  line-height: normal;
  font-weight: var(--WGHT_BOLD);
  cursor: pointer;
}
.startBtn:hover, .randomSec > .randomBtn:hover {
  background: #F98F75;
}

.wrapper {
  inline-size: 100%;
}

.introSec {
  padding-block: 7.5rem 8.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.introSec > .introArticle {
  inline-size: min(28.75rem, 100%);
}
.introSec > .introArticle > * {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
}
.introSec > .introArticle > *:first-child {
  margin: 0;
}
.introSec > .introArticle > *:last-child {
  -webkit-margin-before: 2.5rem;
          margin-block-start: 2.5rem;
}
.introSec > .introArticle > .introHeader {
  color: #242D52;
  font-size: clamp(0.5rem, 5vw, 3.5rem);
  line-height: clamp(0.5rem, 7vw, 4rem);
  font-weight: var(--WGHT_BOLD);
  letter-spacing: -1px;
}
.introSec > .introArticle > .introPara {
  color: #242D52;
  font-size: 1rem;
  line-height: 1.625rem;
  opacity: 0.5025343895;
}
.introSec img {
  max-inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.introSec > .hero {
  flex: 0 1 auto;
  inline-size: 33.75rem;
  display: grid;
  place-items: center;
  position: relative;
}
.introSec > .hero > .pattern {
  position: absolute;
  z-index: -1;
  inset-inline: 50px auto;
  inset-block: -420px auto;
  inline-size: 60.625rem;
}
@media (width < 880px) {
  .introSec > .hero > .pattern {
    inset-inline: 50px auto;
    inset-block: -460px auto;
  }
}
@media (width < 46.875rem) {
  .introSec > .hero > .pattern {
    inline-size: 33.875rem;
    inset-inline: 30px auto;
    inset-block: -300px auto;
  }
}
@media (width < 46.875rem) {
  .introSec {
    flex-direction: column;
    gap: 1.1875rem;
    text-align: center;
  }
  .introSec > * {
    -webkit-margin-before: 0.5625rem;
            margin-block-start: 0.5625rem;
  }
  .introSec > *:first-child {
    margin: 0;
  }
  .introSec > *:last-child {
    -webkit-margin-before: 1.8125rem;
            margin-block-start: 1.8125rem;
  }
  .introSec > .introArticle {
    order: 2;
  }
  .introSec > .introArticle > .introHeader {
    font-size: 2.5rem;
    line-height: 3.125rem;
    letter-spacing: -1px;
  }
  .introSec > .hero {
    order: 1;
    inline-size: min(19.875rem, 95%);
    block-size: 17.875rem;
  }
}

.diffSec {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  position: relative;
}
.diffSec > .pattern {
  position: absolute;
  z-index: -1;
  inset-block: auto -600px;
  inset-inline: -600px auto;
}
.diffSec > .diffArticle {
  flex: 0 1 27.8125rem;
}
.diffSec > .diffArticle > * {
  -webkit-margin-before: 1.5rem;
          margin-block-start: 1.5rem;
}
.diffSec > .diffArticle > *:first-child {
  margin: 0;
}
.diffSec > .diffArticle > .diffHeader {
  color: #242D52;
  font-size: 2.5rem;
  font-weight: var(--WGHT_BOLD);
  line-height: 2.75rem;
  letter-spacing: -0.714px;
}
.diffSec > .diffArticle > .diffPara {
  color: #242D52;
  line-height: 1.625rem;
  opacity: 0.5025343895;
}
.diffSec > .diffFeatures {
  flex: 0 1 33.75rem;
}
.diffSec > .diffFeatures > * {
  -webkit-margin-before: 2.5rem;
          margin-block-start: 2.5rem;
}
.diffSec > .diffFeatures > *:first-child {
  margin: 0;
}
.diffSec > .diffFeatures > li {
  display: flex;
  align-items: flex-start;
  gap: 1.75rem;
}
.diffSec > .diffFeatures > li > article > * {
  -webkit-margin-before: 1.1875rem;
          margin-block-start: 1.1875rem;
}
.diffSec > .diffFeatures > li > article > *:first-child {
  margin: 0;
}
.diffSec > .diffFeatures > li > article > h3 {
  color: #242D52;
  font-weight: var(--WGHT_BOLD);
  line-height: normal;
  letter-spacing: -0.286px;
}
.diffSec > .diffFeatures > li > article > h3::before {
  content: attr(data-i);
  flex: 0 0 auto;
  inline-size: 4.1875rem;
  block-size: 2.4375rem;
  border-radius: 2.4375rem;
  background: #F3603C;
  display: none;
  place-items: center;
  color: #FFF;
  font-weight: var(--WGHT_BOLD);
  line-height: normal;
  letter-spacing: -0.286px;
}
.diffSec > .diffFeatures > li > article > p {
  color: #242D52;
  line-height: 1.625rem;
  opacity: 0.5025343895;
}
.diffSec > .diffFeatures > li::before {
  content: attr(data-i);
  flex: 0 0 auto;
  inline-size: 4.1875rem;
  block-size: 2.4375rem;
  border-radius: 2.4375rem;
  background: #F3603C;
  display: grid;
  place-items: center;
  color: #FFF;
  font-weight: var(--WGHT_BOLD);
  line-height: normal;
  letter-spacing: -0.286px;
}
@media (width < 46.875rem) {
  .diffSec {
    flex-direction: column;
    justify-content: flex-start;
    gap: 3.375rem;
    padding-block: 3.875rem;
  }
  .diffSec > .pattern {
    inset-block: -400px auto;
    inset-inline: auto -260px;
    inline-size: 23.625rem;
  }
  .diffSec > .pattern > img {
    max-inline-size: 100%;
  }
  .diffSec > .diffArticle {
    flex: 0 1 auto;
    text-align: center;
  }
  .diffSec > .diffArticle > * {
    -webkit-margin-before: 0.8125rem;
            margin-block-start: 0.8125rem;
  }
  .diffSec > .diffArticle > *:first-child {
    margin: 0;
  }
  .diffSec > .diffFeatures {
    flex: 0 1 auto;
  }
  .diffSec > .diffFeatures > * {
    -webkit-margin-before: 2.5rem;
            margin-block-start: 2.5rem;
  }
  .diffSec > .diffFeatures > *:first-child {
    margin: 0;
  }
  .diffSec > .diffFeatures > li {
    display: flex;
    align-items: flex-start;
    gap: 2.9375rem;
  }
  .diffSec > .diffFeatures > li > article > * {
    -webkit-margin-before: 0.5rem;
            margin-block-start: 0.5rem;
  }
  .diffSec > .diffFeatures > li > article > *:first-child {
    margin: 0;
  }
  .diffSec > .diffFeatures > li > article > h3 {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    background-color: #FFF0EC;
    border-radius: 39px 0px 0px 39px;
  }
  .diffSec > .diffFeatures > li > article > h3::before {
    display: grid;
  }
  .diffSec > .diffFeatures > li::before {
    display: none;
  }
}

.testoSec {
  text-align: center;
  inline-size: 100%;
  padding-block: 9.125rem 11.25rem;
}
.testoSec > * {
  -webkit-margin-before: 6.25rem;
          margin-block-start: 6.25rem;
}
.testoSec > *:first-child {
  margin: 0;
}
.testoSec > *:last-child {
  -webkit-margin-before: 3rem;
          margin-block-start: 3rem;
}
.testoSec > h2 {
  color: #242D52;
  font-size: 2.5rem;
  font-weight: var(--WGHT_BOLD);
  line-height: 2.75rem;
  letter-spacing: -0.714px;
}
.testoSec > .testos {
  display: flex;
  justify-content: start;
  gap: 1.875rem;
  -webkit-padding-before: 2.25rem;
          padding-block-start: 2.25rem;
  inline-size: 100%;
  max-inline-size: 100rem;
  margin-inline: auto;
  overflow: hidden;
}
.testoSec > .testos > article {
  flex: 0 0 auto;
  inline-size: 33.75rem;
  background: #FAFAFA;
  padding-inline: 2.5rem;
  -webkit-padding-after: 2.5rem;
          padding-block-end: 2.5rem;
  -webkit-padding-before: 3.75rem;
          padding-block-start: 3.75rem;
  position: relative;
}
.testoSec > .testos > article > img {
  inline-size: 4.5rem;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  inset-inline: 50% auto;
  transform: translateX(-50%);
  inset-block: -2.25rem auto;
}
.testoSec > .testos > article > * {
  -webkit-margin-before: 1.1875rem;
          margin-block-start: 1.1875rem;
}
.testoSec > .testos > article > *:first-child {
  margin: 0;
}
.testoSec > .testos > article > h3 {
  color: #242D52;
  font-weight: var(--WGHT_BOLD);
  line-height: normal;
  letter-spacing: -0.286px;
}
.testoSec > .testos > article > p {
  color: #242D52;
  line-height: 1.625rem;
  opacity: 0.5025343895;
}
.testoSec > .pagination {
  display: none;
  gap: 0.3125rem;
  margin-inline: auto;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
}
.testoSec > .pagination > span {
  aspect-ratio: 1;
  width: 0.4375rem;
  background: transparent;
  border: 1px solid #F3603C;
  display: inline-block;
  border-radius: 50%;
}
.testoSec > .pagination > span:first-child {
  background: #F3603C;
}
@media (width < 46.875rem) {
  .testoSec {
    padding-block: 3.875rem 3rem;
  }
  .testoSec > * {
    -webkit-margin-before: 1.625rem;
            margin-block-start: 1.625rem;
  }
  .testoSec > *:first-child {
    margin: 0;
  }
  .testoSec > *:nth-child(2) {
    -webkit-margin-before: 6.125rem;
            margin-block-start: 6.125rem;
  }
  .testoSec > *:last-child {
    -webkit-margin-before: 5rem;
            margin-block-start: 5rem;
  }
  .testoSec > .testos {
    display: flex;
    justify-content: flex-start;
    gap: 0rem;
    inline-size: min(21.25rem, 95%);
    margin-inline: auto;
  }
  .testoSec > .testos > article {
    inline-size: 100%;
  }
  .testoSec > .pagination {
    display: flex;
  }
}

.randomSec {
  background-color: #F3603C;
  padding-block: 3.875rem;
  padding-inline: 10.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  max-inline-size: 1600px;
  margin-inline: auto;
}
.randomSec > .randomHeader {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: var(--WGHT_BOLD);
  line-height: 2.75rem;
  letter-spacing: -0.714px;
  max-inline-size: 28.75rem;
  position: relative;
  z-index: 1;
}
.randomSec > .randomBtn {
  background-color: #FFFFFF;
  color: #F3603C;
  box-shadow: none;
  position: relative;
  z-index: 1;
}
.randomSec > .randomBtn:hover {
  background-color: #FFFFFF;
  color: rgba(243, 97, 60, 0.462745098);
}
.randomSec > .pattern {
  position: absolute;
  opacity: 0.1;
  z-index: 0;
  inset-block: auto -590px;
  inset-inline: 0px auto;
}
@media (width < 1000px) {
  .randomSec {
    padding-inline: 3.125rem;
  }
}
@media (width < 46.875rem) {
  .randomSec {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8125rem;
  }
  .randomSec > .pattern {
    inset-block: auto -550px;
    inset-inline: -700px auto;
  }
}

footer {
  background: #1D1E25;
  padding-block: 3.875rem;
  padding-inline: 10.6875rem;
  display: flex;
  justify-content: center;
}
footer > .wrap {
  inline-size: min(69.375rem, 100%);
  display: grid;
  grid-template-areas: "logo links links form" "medias links links rights";
}
footer > .wrap > .logoFooter {
  grid-area: logo;
}
footer > .wrap > .socialMedia {
  grid-area: medias;
  align-self: end;
  display: flex;
  gap: 0.875rem;
}
footer > .wrap > .socialMedia > li > a {
  color: #FFF;
}
footer > .wrap > .socialMedia > li > a:hover {
  color: #F3603C;
}
footer > .wrap > nav {
  grid-area: links;
  display: flex;
  justify-content: space-between;
}
footer > .wrap > nav > ul {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
}
footer > .wrap > nav > ul > a {
  color: #FFF;
  font-size: 0.9375rem;
  line-height: normal;
  letter-spacing: -0.234px;
  text-decoration: none;
}
footer > .wrap > nav > ul > a:hover {
  color: #F3603C;
}
footer > .wrap > form {
  grid-area: form;
  place-self: start end;
  display: flex;
  gap: 0.5rem;
  position: relative;
}
footer > .wrap > form.error::after {
  content: "Please insert a valid email";
  position: absolute;
  inset-block: 120% auto;
  color: #F33C3C;
  font-size: 0.625rem;
  font-style: italic;
  letter-spacing: -0.077px;
}
footer > .wrap > form.error > input {
  color: #F33C3C;
  border: 1px solid #F33C3C;
}
footer > .wrap > form > input {
  border-radius: 22px;
  border: 1px solid transparent;
  background: #FFF;
  inline-size: 12.5rem;
  block-size: 2.75rem;
  font-size: 13px;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #8D8D8D;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
  outline: none;
}
footer > .wrap > form > button {
  inline-size: 4rem;
  block-size: 2.75rem;
  border-radius: 1.375rem;
  background: #F3603C;
  border: none;
  color: #fff;
  cursor: pointer;
}
footer > .wrap > form > button:hover {
  background: #F98F75;
}
footer > .wrap > .right {
  grid-area: rights;
  place-self: end;
  color: #FFF;
  font-size: 0.8125rem;
  line-height: normal;
  opacity: 0.5025343895;
  letter-spacing: -0.203px;
}
@media (width < 1050px) {
  footer {
    padding-inline: 3.125rem;
  }
}
@media (width < 46.875rem) {
  footer {
    padding-inline: 0;
  }
  footer > .wrap {
    inline-size: min(327px, 95%);
    margin-inline: auto;
    grid-template-areas: "form" "links" "medias" "logo" "rights";
    gap: 3.25rem;
  }
  footer > .wrap > form {
    place-self: center stretch;
  }
  footer > .wrap > form > input {
    flex: 1 1 auto;
  }
  footer > .wrap > form > button {
    flex: 0 1 auto;
    inline-size: 80px;
  }
  footer > .wrap > .socialMedia {
    place-self: center;
  }
  footer > .wrap > .logoFooter {
    place-self: center;
  }
  footer > .wrap > .right {
    place-self: center;
  }
  footer > .wrap > nav {
    justify-content: center;
    gap: 6.625rem;
  }
}/*# sourceMappingURL=style.css.map */